*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.corpo {
background-color: #ffffff;
    display:flex;

}

.conteudo {
    color: rgb(255, 0, 0);
    width:100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

